
section{
    margin-top: 10px;
    >.title{
        font-size: 40px;
        margin-top: 40px;
        padding-bottom: 30px;
    }

    

    >p{
        font-size: 20px;
        margin-top: 15px;
    }

    >button{
        margin-top: 40px;
        width: 120px;
        border: none;
        height: 60px;
        outline: none;
        border-radius: 8px;
        background-color: #222;
        
        >.recommendation{
            display: block;
            color: white;
            width: 100%;
            height: 100%;
            font-size: 16px;
           line-height: 60px;
           
        }

    }

    >img{
        display: block;
        width: 100%;
        
        margin-top: 50px;
    }

    >h1{
        padding: 60px;
        padding-left: 0px;
        font-size: 40px;
    }


    .categories{
        display: flex;
        margin-top: 30px;
        
        justify-content: space-between;
      
        
        >.categories_wrap_1{
        
            >div{
                margin-top: 20px;
                .link{
                    width: 75px;
                    height: 75px;
                    display: block; 
                    cursor: pointer;
                    border-radius: 9px;
                    padding: 5px;
                        >img{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        transition: background-color 0.3s ease;
                    }
                    a:hover{
                        background-color: #e0e0e0;
                    }

                    >p{
                        text-align: center;
                        font-size: 20px;
                        margin-top: 10px;
                    }
                }
           }

           >.categories_wrap_2{
        
            >div{
                margin-top: 20px;
                a{
                  
                    width: 75px;
                    height: 75px;
                    display: block; 
                    cursor: pointer;
                    border-radius: 9px;
                    padding: 5px;
                        >img{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        transition: background-color 0.3s ease;
                    }
                    a:hover{
                        background-color: #e0e0e0;
                    }

                    >p{
                        text-align: center;
                        font-size: 20px;
                        margin-top: 10px;
                    }
                }
           }

        a{
            display: block;
            padding: 10px;
            padding-left: 0;
            
           
            >div{
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 8px;
                >img{
                
                    display: block;
                    width: 500px;
                    height: 100%;
                    border-radius: 8px;
                    margin-top: 10px;
                  
                }
                span{
                    position: absolute;
                    top: 0;
                    font-size: 30px;
                    margin-top: 30px;
                    padding: 30px;
                    color: #fff;
                    font-weight: 800;
                }

               
            }
        }


    }
}

@media (max-width: 600px) {
  section .categories a > div{
    display: none;
  }
h1{
  margin-top: 50px;
  
  text-align: center;
}
  .categories_wrap_2{
    margin-left: 50px;
  }
  .categories_wrap_1 {
    margin-left: 80px;
  }
    .categories{
      display: block;
      width: 400px;

      margin: 0 auto;
    }
  section {
    > .title {
      font-size: 28px;
      margin-top: 20px;
      padding-bottom: 20px;
    }

    > p {
      font-size: 16px;
      margin-top: 10px;
    }

    > button {
      width: 100%;
      height: 50px;

      > .recommendation {
        font-size: 14px;
        line-height: 50px;
      }
    }

    > img {
      margin-top: 30px;
    }

    > h1 {
      padding: 30px 0 0 0;
      font-size: 28px;
    }

    .categories {
     
      gap: 15px;

      > .categories_wrap_1,
      > .categories_wrap_2 {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .link,
      a {
        width: 48%; // 두개씩 한 줄에 배치
        margin-bottom: 15px;

        > img {
          width: 100%;
          height: auto;
        }

        > p {
          font-size: 16px;
        }
      }
    }

    a > div > img {
      width: 100%;
      height: auto; // 모바일에서도 이미지 비율 유지
    }

    a > div > span {
      font-size: 20px;
      top: 20px;
      left: 15px;
    }
  }
}